<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>login</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
<!--	<header>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-1">
					<h1><em id="pay">Pay My Buddy</em></h1>
				</div>
				<div class="col-md-6">
					
				</div>
				<div class="col-md-1">
					<h1><em id="menu">Home</em></h1>
				</div>
				<div class="col-md-1">
					<h1><em id="menu">Transfer</em></h1>
				</div>
				<div class="col-md-1">
					<h1><em id="menu">Profile</em></h1>
				</div>
				<div class="col-md-1">
					<h1><em id="menu">Contact</em></h1>
				</div>
				<div class="col-md-1">
					<h1><em id="menu">Log off</em></h1>
				</div>

			</div>

		</div>
	</header> -->

	<section id="section_one">
		<div class="container">
			<div class="row" >
				<div class="col-md-3">
					
				</div>

				<div id="login_box" class="col-md-6 col-xs-12">
					

					<p>
						<h1><em id="pay_label">Pay My Buddy</em></h1>
					</p>
					

					<p>
						<input type="text" name="email" id="email" size="50" placeholder="&#9993 Email" required/>
					</p>

					<p>
						<input type="password" name="pass" id="pass" size="50" placeholder="* password" required/>

					</p>

				<!--	<form method="post" action="">pour info</form> -->

					
					<p>
						<input type="checkbox" name="remember_me" id="remember_me"><label for="remember_me">Remember me</label>
					</p>

					<p>
						<input type="submit" name="loginbutton" id="login_button" value="Login">
					</p>

					


				</div>

				<div class="col-md-3">
					
				</div>
			</div>
			
		</div>
		
	</section>
</body>

</html>