

body{
  background-color: white;

   text-align: center;
}

/*
div[class* = "col-md-6 col-xs-12"]{
  
  border-color: darkred;

  display : flex;
  flex-direction: column ;
  justify-content: space-around ;

  text-align: center;
  align-items: centre;
}
*/
[class^="row"]{
  display : flex;
  flex-direction: row ;
  justify-content: space-around ;

}

/* login style sheet */

#login_box{

  margin-top: 40px;
  
  padding-left: 20px;
  padding-right: 20px;
  
  padding-bottom: 30px;


  border: solid;
  border-color: lightgrey;
  border-radius: 15px;

  display : flex;
  flex-direction: column ;
  justify-content: space-around ;

  text-align: center;
  align-items: centre;
}

#pay_label{

  background: linear-gradient(to right,rgba(98,185,89,255),rgba(136,194,75,255));
  color: white;
  text-align: justify;
  margin-left: 0px;
  
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;

  border-radius: 10px;

  font-style: normal;
}

#email{
  padding-left: 5px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;

  border: solid;
  border-radius: 5px;
  border-color: lightgrey;

  font-size: 15px;

}

:required{

  background-color: palevioletred;
  border: solid;
  border-color: darkred;
}


#pass{
  padding-left: 5px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;

  border: solid;
  border-radius: 5px;
  border-color: lightgrey;

  font-size: 15px;
}


#login_button{

  background-color: rgba(2,117,216,255);
  color: white;
  text-align: justify;
  margin-left: 0px;

  font-size: 20px;
  
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;

  border-radius: 10px;
}

/* transfert style sheet */

/* sub_menu */
#sub_menu{

  display: flex;
  flex-direction: row;
  justify-content: left;
  
  padding-left: 30px;

}

#home{
  font-style: normal;
  color: dimgrey;
  font-size: 20px;
}

#transfert{
  font-style: normal;
  color: dimgrey;
  font-size: 20px;
}



